.card {
  width: 15vw;
  height: 22.5vw;
  max-width: 100px;
  max-height: 150px;
  position: absolute;
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer;
  filter: none;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.hiddenCard {
  display: none;
}

.mintedCard {
  width: 300px;
  height: auto;
}

.selectedCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure the selected card is above the darkened deck */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selectedCardContainer .buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
