.container {
  display: flex;
  background-color: var(--color-fill-home);
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  border: 3px solid black;
}

.textDescription {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
