.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: purple; /* Purple background */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 10px;
  }
  
  .headerLink {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: green; /* Green background */
    position: relative;
  }
  
  .cardDeck {
    position: relative;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 100px;
    height: 150px;
    position: absolute;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  
  .centerText {
    position: absolute;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  
  .selectedCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .selectedCard {
    width: 200px;
    height: 300px;
  }
  
  .cardDeck .card {
    filter: brightness(0.5);
  }
  
  .selectedCardContainer .buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: grey;
  }
  